.paper{
    max-width: 750px;
    width: 700px;
    height: 900px;
    background-color: wheat;
    margin: 0 auto;
    box-shadow: 13px 11px 5px gray;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    padding: 0 0 -25px 0;
}
.small{
    height: 25px;
    width: 40%;
    box-shadow: 0px 10px 7px;
    margin: 10px 5px 15px 40px;
    font-size: 15px;
    border-radius: 6px;
    border-color: #95815C;
}
label{
    font-size: 29px;
    padding : 0 0 0 30px;
    font-family: 'Dancing Script', cursive;;
}
.next{
    display: inline-block;
    width: 56%;
    text-align:right;
}
input {
    width: 60%;
    height: 40px;
    box-shadow: 0px 10px 7px;
    margin: 10px 5px 15px 40px;
    font-size: 15px;
    border-radius: 6px;
    border-color: #95815C;  
}
h2{
    text-align: center;
    font-size: 35px;
    font-family: cursive;
    padding: -30px;
}
button {
    margin: 50px auto;
    padding: 10px 20px;
    text-align: center;
    background-color: green;
    color: white;
    width: 30%;
    font-size: 30px;
    display: block;
    border-radius : 10px;
    font-family: 'Gochi Hand', cursive;
}
button:hover{
    cursor: pointer;
    background-color: rgb(13, 205, 13);
    font-weight: bolder;
}
::placeholder{
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}